/* Layout */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: linear-gradient(#2c3e50, #124466, #6dd5fa);
  color: #fff;
  padding: 20px;

  /* Make it scrollable */
  height: 100vh;        /* Full height of viewport */
  overflow-y: auto;     /* Enable vertical scroll when content overflows */
  position: sticky;     /* Stick in place while scrolling main content */
  top: 0;               /* Required for sticky to work */
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
 background-color: rgba(255,255,255,0.2);;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 20px;
  background: #f4f6f8;
}

header h1 {
  margin: 0 0 20px;
}

.table-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: linear-gradient(#2c3e50, #124466, #6dd5fa);
  color: #fff;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


