/* General */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

html, body {
  height: 100%;
  margin: 0;
}

.dashboard {
  display: flex;
  min-height: 100%;
}


/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #251c3e;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
display: block;
  padding: 10px;
  border-radius: 6px;
}

.sidebar ul li a:hover {
  
  background: #dce2df;
  color: #fff;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}
.card span {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  color: #27ae60;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}


/* Widgets */
.widgets {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.widget {
  background-color: #fff;
  padding: 15px;
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Buttons */
.btn {
  background: #27ae60;
  color: white;
  border: none;
  padding: 6px 12px;
  margin: 3px;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2980b9;
}

/* Patient Table */
.patient-controls {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #27ae60;
  color: white;
}