body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #f4f6f9;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: linear-gradient(#2c3e50, #124466, #6dd5fa);
  color: #fff;
  padding: 20px;

  /* Make it scrollable */
  height: 100vh;        /* Full height of viewport */
  overflow-y: auto;     /* Enable vertical scroll when content overflows */
  position: sticky;     /* Stick in place while scrolling main content */
  top: 0;               /* Required for sticky to work */
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
 background-color: rgba(255,255,255,0.2);;
}

/* Main content */
.main-content {
  flex: 1;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

/* Form Section */
.form-container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.form-container h2 {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Buttons */
button {
  background: #3498db;
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
  transition: background 0.3s;
}

button:hover {
  background: #2980b9;
}

.edit-btn {
  background: #f39c12;
}

.edit-btn:hover {
  background: #d68910;
}

.delete-btn {
  background: #e74c3c;
}

.delete-btn:hover {
  background: #c0392b;
}

/* Table Section */
.table-container {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background: linear-gradient(#2c3e50, #124466, #0a7ea8);
  color: white;
}
